<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Material Icons -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- CSS File -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style1.css') }}">
    <title>tourism</title>
</head>

<body>

    <div class="mainBody">
        <!-- Sidebar Starts -->

        <div class="sidebar">

            <div class="sidebar__categories">
                <div class="sidebar__category">
                    <h5>welcome {{uname}}</h5>
                </div>
            </div>

            <div class="sidebar__categories">
                <div class="sidebar__category">
                    <i class="material-icons">logout</i>
                    <span><a href="index.html">Logout</span></a>
                </div>
            </div>

        </div>
        <!-- Sidebar Ends -->

        <!-- Videos Section -->
        <div class="videos">
            <h1>Recommendations</h1>


            <div class="videos__container">
                <!-- Single Video starts -->
                <div class="video">
                    <div class="video__thumbnail">
                        <a href={{content.loc[0][-1]}}>
                            <image src="{{imgg[0]}}" />
                        </a>

                    </div>
                    <div class="video__details">

                        <div class="title">
                            <h3>
                                {{content.loc[0][2]}}
                            </h3>
                            <p>
                        
                            </p>
                            <p>
                            <h6>Cordinates: {{content.loc[0][5]}}</h6>
                            </p>

                            <!--<span>{{content.loc[0][3]}}</span> -->
                        </div>
                    </div>
                </div>


                {% for i in range(lent2) %}
                <div class="cls{{ i+1 }}" style="display: block; display: flex;flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;">
                    <div class="video">
                        <div class="video__thumbnail">
                            <a href={{content2.loc[i+1][-1]}}>
                                <image src="{{imgg2[i]}}"/>
                            </a>
                        </div>
                        <div class="video__details">

                            <div class="title">

                                <h5>
                                    {{content2.loc[i+1][2]}}
                                </h5>
                                <p>
                               
                                </p>
                                <p>
                                <h6>Cordinates: {{content2.loc[i+1][5]}}</h6>
                                </p>


                                <!--<span>{{content2.loc[i+1][3]}}</span> -->
                            </div>
                        </div>

                    </div>
                </div>

                {% endfor %}

</body>

</html>